[user]
  name = Toshinori Tsugita
  email = tsugita.dev@gmail.com
[core]
  excludesfile = ~/.gitignore_global
  editor = vim
  pager = less -r
[color]
  ui = auto
[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true
[fetch]
  prune = true
  all = true
  verbose = true
[pull]
  rebase = preserve
[rebase]
  autostash = true
[push]
  default = current
