[user]
  name = Toshinori Tsugita
  email = tsugita.dev@gmail.com
[core]
  excludesfile = /Users/tsugita/.gitignore_global
  editor = vim
  pager = less -r
[color]
  ui = auto
[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true
[fetch]
  prune = true
  all = true
  verbose = true
[merge "mergepbx"]
  name = Xcode project files merger
  driver = mergepbx %O %A %B
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[pull]
  rebase = preserve
[rebase]
  autostash = true
